.button {
    padding: 0.5rem 1.5rem;
    border: 1px solid rgb(0, 0, 185);
    background-color: blue;
    color:#fff;
    box-shadow: 0 0 4px rgba(0,0,0, 0.26);
}

button:hover{
    cursor: pointer;
    background-color: rgb(3, 3, 173);
}